notes/
.DS_Store
/vendor/
/.vscode

/wp
/wp-config.php
/.htaccess
/content/themes/twentyseventeen
/content/plugins/akismet
/content/plugins/contact-form-7
/content/plugins/advanced-custom-fields
/content/plugins/advanced-custom-fields-font-awesome
/content/plugins/hello-dolly
/content/plugins/simply-show-hooks
/content/plugins/what-the-file
/content/languages
/content/debug.log
